@font-face {
	font-family: 'Lincoln Road Deco';
	src: url('/Lincoln-Road-Deco.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lincoln Road';
	src: url('/Lincoln-Road-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.end-game-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(8, 8, 7, 0.98);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 10000;
	pointer-events: auto;
	gap: 2rem;
}

.end-game-screen > svg {
	width: 40dvw;
	height: 40dvh;
}

.end-game-screen > svg > path {
	fill: #8b0000;
}

.end-game-message {
	color: #efd89b;
	font-size: 2.5rem;
	font-family: 'Lincoln Road Deco', serif;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 400;
}

.completion-time {
	margin: 20px 0;
	font-size: 1.5rem;
	text-align: center;
	font-weight: 400;
	color: #fff;
	font-family: 'Lincoln Road', serif;
}

.name-input-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 20px 0;
	width: 100%;
	max-width: 300px;
}

.name-input-container label {
	font-size: 1rem;
	color: white;
	font-family: 'Lincoln Road', serif;
}

.name-input-container input {
	padding: 10px;
	font-size: 1rem;
	background-color: transparent;
	border: 1px solid #777d90;
	color: white;
	font-family: 'Lincoln Road', serif;
	border-radius: 0.5rem;
}

.name-input-container input:focus {
	outline: none;
	border-color: #efd89b;
}

.submit-button {
	margin-top: 10px;
	padding: 10px 15px;
	background-color: transparent;
	border: 1px solid #777d90;
	color: #777d90;
	font-size: 1rem;
	cursor: pointer;
	font-family: 'Lincoln Road', serif;
	transition: all 0.2s ease;
	border-radius: 0.5rem;
}

.submit-button:hover:not(:disabled) {
	background-color: rgba(255, 255, 255, 0.2);
}

.submit-button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.submission-success {
	margin: 20px 0;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid #777d90;
	color: #fff;
	text-align: center;
	border-radius: 0.5rem;
	font-family: 'Lincoln Road', serif;
}

.restart-button {
	background: transparent;
	border: 1px solid #777d90;
	color: #777d90;
	font-size: 1.2rem;
	padding: 0.8rem 2rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: all 0.3s ease;
	font-family: 'Lincoln Road', serif;
}

.restart-button:hover {
	background: rgba(255, 255, 255, 0.2);
	color: #ffffff;
}

.input-error {
	border-color: #8b0000 !important;
	background-color: rgba(139, 0, 0, 0.1) !important;
}

.name-error {
	color: #8b0000;
	font-size: 0.8rem;
	margin-top: 5px;
	text-align: left;
	font-family: 'Lincoln Road', serif;
}

@media (max-height: 600px) {
	.end-game-screen > svg {
		width: 20dvw;
		height: 20dvh;
	}

	.end-game-message {
		font-size: 1.8rem;
	}

	.end-game-screen {
		gap: 1rem;
	}
}
